html
{
    background-color: darksalmon;
    background-image: url(images/testbackground.jpg);
 -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body
{
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 400;
    padding: 0;
    margin: 0;
 
}

hr
{
    border: 1.5px solid darkgreen;
}

.indent
{
    text-indent: 50px;
    line-height: 40px;
}

.logo
{
  height: 520px;
  width: 500px;    
  display: block;
  margin: 0 auto;   
}

#textbox
{
    background-color: white;
	padding: 0em 1em 1em;
	padding-top: 10px;
	margin:-90px 350px 350px 350px;
}

.leftbottomfooter
{
    float: left;
    font-size: 12px;
}

.rightbottomfooter
{
    float: right;
    font-size: 12px;
}

a:link    {
  text-decoration: none;
  font-weight: bold;
  }

.by
{
    font-size: 13px;
    color: grey;
}

.bye
{
    font-weight: bold;
}

.scroll
{
    left: 20px;   
    height: 60px;
    width: 60px;
    position: fixed;
}

.image
{
    width: 400px;
    height: 300px;
    margin: 18px 90px 10px 90px;
}

.overline
{
    border-top: 2px dotted #000;
}

.intro
{
    font-size: 230%;
    font-weight: bolder;
}

.shadow
{
    text-shadow: -1.5px -1.5px #666686;
}
